
@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
html, body {
  font-family: "Figtree", sans-serif;
}
h1,
h2,
h3,
h4,
span {
  font-family: Staatliches, sans-serif;
}
a {
  cursor: pointer;
}

@custom-variant dark (&:where(.dark, .dark *));
